In [1]:
import pandas as pd
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import classification_report
from scipy.spatial import distance
import warnings
warnings.filterwarnings("ignore")

In [3]:
#coloums based on their oxide content in the glass
# Read train dataset
train = pd.read_csv("https://raw.githubusercontent.com/Jacob68/task-7/main/trainKNN.txt", header=None)
train.columns = ['ID', 'RI', 'Na', 'Mg', 'Al', 'Si', 'K', 'Ca', 'Ba', 'Fe', 'Type of glass']
train = train.drop('ID', axis=1) # Drop ID since irrelevant to predictions

# read test dataset
test = pd.read_csv('https://raw.githubusercontent.com/Jacob68/task-7/main/testKNN.txt', header=None)
test.columns=['ID', 'RI', 'Na', 'Mg', 'Al', 'Si', 'K', 'Ca', 'Ba', 'Fe', 'Type of glass']
test = test.drop('ID', axis=1)

In [4]:
train.head()

        RI     Na    Mg    Al     Si     K    Ca   Ba   Fe  Type of glass
0  1.52101  13.64  4.49  1.10  71.78  0.06  8.75  0.0  0.0              1
1  1.51761  13.89  3.60  1.36  72.73  0.48  7.83  0.0  0.0              1
2  1.51618  13.53  3.55  1.54  72.99  0.39  7.78  0.0  0.0              1
3  1.51766  13.21  3.69  1.29  72.61  0.57  8.22  0.0  0.0              1
4  1.51742  13.27  3.62  1.24  73.08  0.55  8.07  0.0  0.0              1

In [9]:
def standardizer(df):
    for col in df.columns:
        if col != "Type of glass":
            df[col] = (df[col] - df[col].mean())/df[col].std()
    return df

In [15]:
x=train.iloc[:,:9].values         #independent 
y=train.iloc[:,9].values

In [16]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test=train_test_split(x,y,test_size=0.20, random_state=None)

In [17]:
from sklearn.neighbors import KNeighborsClassifier

knn = KNeighborsClassifier(n_neighbors=10, p=2, metric='euclidean')

knn.fit(x_train,y_train)

KNeighborsClassifier(metric='euclidean', n_neighbors=10)

In [18]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test=train_test_split(x,y,test_size=0.20, random_state=None)

In [19]:
from sklearn.neighbors import KNeighborsClassifier

knn = KNeighborsClassifier(n_neighbors=10, p=2, metric='euclidean')

knn.fit(x_train,y_train)

KNeighborsClassifier(metric='euclidean', n_neighbors=10)

In [20]:
y_pred=knn.predict(x_test)
from sklearn.metrics import accuracy_score
accuracy_score(y_test, y_pred)

0.625

In [21]:
#we use distance metrics as manhattan distance
knn = KNeighborsClassifier(n_neighbors=10, p=1, metric='manhattan')

knn.fit(x_train,y_train)

KNeighborsClassifier(metric='manhattan', n_neighbors=10, p=1)

In [22]:
y_pred=knn.predict(x_test)

In [23]:
accuracy_score(y_test, y_pred)

0.675